name: GitHub Readme Stats
on:
  workflow_dispatch:
  schedule:
  - cron: 30 9 * * 3 # Every Wednesday at 09:30. Please be aware that GitHub's free plan only has 2000 CI minutes.
jobs:
  update-cards:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    name: Update cards
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ensure output folder
        run: mkdir -p profile

      - name: Generate stats (light mode)
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: 'username=${{ github.repository_owner }}&show_icons=true&hide=contribs,prs&hide_border=true&hide_rank=true&theme=swift'
          path: profile/stats-light.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate stats (dark mode)
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: 'username=${{ github.repository_owner }}&show_icons=true&hide=contribs,prs&hide_border=true&hide_rank=true&theme=tokyonight&bg_color=000000'
          path: profile/stats-dark.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      # - name: Generate top languages (light mode)
      #   uses: readme-tools/github-readme-stats-action@v1
      #   with:
      #     card: top-langs
      #     options: 'username=${{ github.repository_owner }}&layout=compact&langs_count=5&hide_border=true&role=owner,collaborator&theme=swift'
      #     path: profile/top-langs-light.svg
      #     token: ${{ secrets.GITHUB_TOKEN }}

      # - name: Generate top languages (dark mode)
      #   uses: readme-tools/github-readme-stats-action@v1
      #   with:
      #     card: top-langs
      #     options: 'username=${{ github.repository_owner }}&layout=compact&langs_count=5&hide_border=true&role=owner,collaborator&theme=tokyonight&bg_color=000000'
      #     path: profile/top-langs-dark.svg
      #     token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit cards
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push